body {
    margin: 0px;
    margin-top: 160px;
    padding: 0px;
    background-color: white;
}
main{
    padding: 35px;
}
footer{
    height: 100px;
    background-color: #230903;
    color: #D3B88C;
    padding: 30px; 
}
